$principal :  rgb(132, 220, 184);
$azul : rgb(63, 61, 86);


html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    position: relative;
   }

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(65, 69, 76);
    background-image: url(/Recursos/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;

    &__contenido{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    &__logo{
        margin: 60px auto;
        align-content: center;
        z-index: 5;
        
    }

    &__navbar{
        z-index: 6;
        width: 100%;
        margin: 0 auto;
        align-content: flex-end;
        padding: 7px 25px;
        display: flex;
        align-content: center;
        justify-content: center;
        box-sizing: border-box;
        top: 0;
    }

}

.navbar__logo{
        height: 65px;
        margin: 0 28px;
        margin-left: 70px;
        display: none;
}

.servicio{
    background-color: $principal;
    height: 43px;
    padding: 0 10px;
    border: none;
    margin: auto;
    color: rgb(26, 26, 26);
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    display: none;
}


.servicio:hover{
    box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
    
}
.navbar{
    align-items: flex-end;
    margin: 0 auto 0 237px;
    width: auto;
    align-content: center;
}

.item {
    
    display: inline;
    text-decoration: none;
    padding: 0 60px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    margin: auto;
    font-size: 1.1em;
    cursor: pointer;
    opacity: 10%;
    transition: all 0.3s;
}

.item:hover{
    opacity: 100%;
    color: $principal;
}
 
.home{
    width: 100%;
    height: 668px;
    margin: 0;
    background-image: url(/Recursos/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-content: center;

    &__contenido{
        width: 30%;
        height: auto;
        margin: auto 130px;
        padding: 20px;

    }

    
    &__serprevent{
        font-family: 'Orbitron', sans-serif;
        color: white;
        font-size: 3em;
        margin: 0;
        font-weight: 400;
    }

    &__descripcion{
        text-align : justify;
        color: white;
        font-family: 'Muli', sans-serif;
    }
}

.servicio2{
    background-color: $principal;
    height: 48px;
    padding: 0 10px;
    border: none;
    margin: auto;
    margin-top: 20px;
    color: rgb(26, 26, 26);
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}


.servicio2:hover{
    box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
    
}


.quienes{
    width: 100%;
    height: auto;
    
    &__contenido{
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;

    }
    &__img{
        flex-basis: 33%;
        text-align: center;
        align-items: center;
        
    }
    
    &__imagen{
        margin: auto;
        height: 80%;
            }

    &__texto{
        flex-basis: 50%;
        margin: 30px 0;
    }

    &__titulo{
        color: $principal;
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        font-size: 2.1em;    
        margin: 0;
    }

    &__descripcion{
        text-align : justify;
        font-family: 'Muli', sans-serif;
        font-size: 1em;
        
    }

    &__caracteristicas{
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin: 0;
        margin-top: -70px;
        display: flex;
        justify-content: center;
        background-color: $principal;
        background-image: url(/Recursos/Fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    }

    &__item{
        padding: 0 50px;
        text-align: center;
        height: 80%;
        
        &-texto{
            font-family: 'Muli', sans-serif;
            font-size: 1.2em;
            font-weight: 500;
            color: rgb(47, 46, 65);
            margin: 8px 0 0 0;
        }
    }
}


.servicios{

    width: 100%;
    height: auto;
    text-align: center;

    &__titulo{
        color: $azul;
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        font-size: 2.4em;    
        margin: 30px 0;
    }

    

    &__uno{
        width: 60%;
      //  height: 70px;
        height: auto;
        background-color: $principal;
        margin: 20px auto;
        transition: all 0.3s ease 0s;
        cursor: pointer; 
        display: flex;
        text-align: center;
        padding: 20px;

        
        &-imagen{
            width: 300px;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: none;
            margin-right: 25px;
        }
        
        &-titulo{
            text-align: center;
            margin: auto;
            font-family: 'Muli', sans-serif;
            font-size: 1.4em;
            font-weight: 800;
            color: $azul;
        }
        &-info{
            display: flex;
            flex-direction: column;
            margin: auto;
        }
        
        &-cars{
            display: none;
            font-family: 'Muli', sans-serif;
            font-size: 1em;
            text-align: left;
            padding: 0 0 0 50px;
            list-style-image: url('/Recursos/point.png');
        }
        
        &-car{
            margin: 15px;
        }
        
    }

    &__uno:nth-child(odd){
       flex-direction:  row-reverse;
    }
    
    &__uno:hover{
         box-shadow: 7px 7px rgba(0, 0, 0, 0.3);  
    }
}

.point{
    width: 15px;
    height: 15px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.car{
    display: flex;
    justify-content: flex-start;
    height: 20px;
    margin: 25px 0;

}

.solicitar{
    width: 100%;
    height: 70%;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-content: center;

    &__info{
        width: 40%;
        padding: 0 60px;
        box-sizing: border-box;
        margin: auto;

        align-content: center;

        &-titulo{
            color: $azul;
            font-family: 'Muli', sans-serif;
            font-weight: 600;
            font-size: 2.4em;    
        }

        &-texto{
            font-family: 'Muli', sans-serif;
            font-size: 1.2em;
        }
    }

    &__mensaje{
        width: 50%;
        height: 75%;
        background-color: white;
        padding: 15px 20px 15px 40px;
        box-sizing: border-box;
        margin: auto;
        

        &-etiqueta{
            font-family: 'Muli', sans-serif;
            font-size: 1em;
            margin: 5px 0;
        }

        &-input{
            width: 90%;
            height: 40px;
            padding: 0 20px;
            border: none;
            background-color: rgb(225, 225, 225);
            font-family: 'Muli', sans-serif;
            font-size: 1em;
            margin: 0;
            margin-bottom: 15px; 
            
        }

        &-mensaje{
            border: none;
            background-color: rgb(225, 225, 225);
            font-family: 'Muli', sans-serif;
            font-size: 1em;
            width: 90%;
            height: 31%;
            padding: 0 20px;
            margin: 0;
            margin-bottom: 15px; 
        }
    }
}

.interes{

    background-color: rgb(225, 225, 225);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__titulo{
        margin: 0;
        padding: auto;
        height: 90px;
        line-height: 90px;
        text-align: center;
        align-content: center;
        background-color: $principal;
        color: $azul;
        font-family: 'Muli', sans-serif;
        font-weight: 600;
    }

    &__tema{
        margin: 40px auto;
        display: flex;
        justify-content: space-between;
        background-color: white;
        width: 65%;
        height: 300px;
        padding: 40px;
        

        &-img{
            margin: auto 0;
            background-image: url(https://gerens.pe/blog/wp-content/uploads/2016/04/consultores-organizacionales.jpg);
            height: 90%;
            width: 45%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &-info{
           width: 50%;
           margin: 0;
            text-align: start;
        }

        &-titulo{
            color: $azul;
            font-family: 'Muli', sans-serif;
        }

        &-texto{
            text-align : justify;
            font-family: 'Muli', sans-serif;
            font-size: 1em;
        }
    }

   
}

.servicio{
    
    &__desplegar{
        display: flex;

        & .servicios__uno-imagen {
            display: block;
            height: auto;
            width: 400px;
            background-size: cover;
            background-repeat: no-repeat;

        }

        & .servicios__uno-cars{
            text-align: left;
            display: block;
            padding: 0;
            margin: 0;
        }
 
        & .servicios__uno-info{
            text-align: left;
        }
    }
}

.contacto{
    background-image: url(/Recursos/fondoCon.png);
    width: 100%;
    height: 400px; 
    margin: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &__info{
        width: 65%;
        height: auto;
        margin: auto;
              

        &-titulo{
            color: $azul;
            font-family: 'Muli', sans-serif;
            margin: 0;
            font-size: 1.9em;
        }

        &-text{
            font-family: 'Muli', sans-serif;
            font-size: 1.1em;
            width: 30%;
            margin: 10px;
        }

        &-item{
            display: flex;
        }


        &-ico{
            margin: auto 0;
            width: 25px;
            height: 25px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

.footer{
    width: 100%;
    height: auto;
    background-image: url(/Recursos/Fondo.png);
    background-color: rgb(65, 69, 76);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-content: center;

    &__logo{
        width: 100%;
        height: 100px;
        margin-top: 15px;
        background-image: url(/Recursos/logoF.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

    }
    &__redes{
        width: 100%;
        display: flex;
        justify-content: center;
    
        &-red{
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 35px;
            height: 35px;
            margin: 15px;

        }
    }

    &__derechos{
        text-align: center;
        margin: 0;
        font-family: 'Muli', sans-serif;
        font-size: 0.8em;
        color: white;
        margin-bottom: 15px;
    }

    
}


// Aqui inicia el css del responsive 

@media screen and (max-width: 600px) {


.header{
   
    &__contenido{
       
    }

    &__logo{
        height: 200px;
    
    }

    &__navbar{
        display: none;
    }

}

.navbar__logo{
       
}

.servicio{
   
}


.servicio:hover{
  
    
}
.navbar{
    
    margin: 0;
    padding: 0;
}

.item {
    padding: 10px 60px;
}

.item:hover{
    
}



.home{
margin: -5px 0;
    &__contenido{
        width: 100%;
        height: 50%;
        margin: auto 25px;
        padding: 10px;
        text-align: center;
        justify-content: center;

    }

    
    &__serprevent{
        text-align: center;
        font-size: 2.5em;
    }

    &__descripcion{
        font-size: 1.2em;
    }

}

.servicio2{
  
}



.quienes{

    height: auto;
    &__contenido{
        height: auto;
        display: flex;
        flex-direction: column;

    }
    &__img{
        width: 100%;
        height: 300px;
    }
    
    &__imagen{
        height: 100%;
    }

    &__texto{
        flex-basis: 100%;
        padding: 30px;
        text-align: center;
        margin: 10px;
    }

    &__titulo{
        text-align: center;
    }

    &__descripcion{

        
    }

    &__caracteristicas{
        margin: 0;
        justify-content: space-around;
  
    }

    &__item{
        height: 20%;
        padding: 0 10px;

        &-img{
            height: 50px;
        }
        
             &-texto{
                font-size: 1em;
            }
        }
}








.servicios{

    &__titulo{
     
    }



    &__uno{
        flex-direction: column;
        width: 75%;
        
        &-imagen{
           width: 100px;
           height: 100px;
           background-color: rebeccapurple;
        }
        
        &-titulo{
         font-size: 1.3em;
        }

        &-info{
         
        }
        
        &-cars{
           
        }
        
        &-car{
           
        }
        
    }

    &__uno:nth-child(odd){
     flex-direction: column;
    }

}

.point{
  
}

.car{
   

}




.solicitar{

    flex-direction: column;
    height: auto;

    &__info{
        width: 100%;
        margin: 0;

        &-titulo{
            text-align: center;
            font-size: 2em;
        }

        &-texto{
            font-size: 1.1em;
            text-align: center;
        }
    }

    &__mensaje{
        width: 100%;
        margin: 0;
        

        &-etiqueta{

        }

        &-input{

            
        }

        &-mensaje{
            height: 65px;
        }
    }
}



.interes{

    &__titulo{
      
    }

    &__tema{
       flex-direction: column;
       height: auto;
        

        &-img{
            width: 100%;
            height: 200px;
            background-size: cover;
        }

        &-info{
            width: 100%;
        }

        &-titulo{
          
        }

        &-texto{
         
        }
    }

   
}





.contacto{

    &__info{
        padding: 0 35px;
        width: 100%;
        height: auto;
        margin: auto;
              

        &-titulo{
           
        }

        &-text{
            font-size: 1em;
            width: 80%;
        }

    }
}





.servicio{
    
    &__desplegar{

        & .servicios__uno-imagen {
            height: 200px;
            width: auto;

        }

        & .servicios__uno-cars{

        }
 
        & .servicios__uno-info{
            padding: 15px;
        }
    }
}











}